<div class="panel panel-success">
  <div class="panel-heading">
  	<div class="panel-title">
    	<h1 align="center">Welcome to the SUSE Trainee Dashboard!</h1>
		</div>
	</div>	
  <div class="panel-body">
    <h3 align="center">Please be patient, still getting in shape here.</h3>
  </div>
</div>
