<div class="row">
	<div class="col-md-5">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2>The trainee elite of SUSE :D</h2>
			<p>
			<p><%= link_to 'Add yourself to our glorious list!', new_trainee_path %></p>
		</div>
	</div>
	</div>
	<div class="col-md-7">
	<% if @trainees %>
		<table class="table">
			<tbody id="trainees">
				<%= render @trainees %>
			</tbody>
		</table>
		<% else %>
			<div class="alert alert-success" role="alert">
				No trainees yet!
			</div>
		<% end %>
	</div>
</div>