<div class="jumbotron">
	<h2>Make way for the awesome Trainees!</h2>
</div>
<div class="row">
	<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-body">
			The trainee elite of SUSE :D
		</div>
	</div>
	</div>
	<div class="col-md-6">
		<table class="table">
			<tbody>
				<%= @trainees.each do |trainee| %>
				<tr>
					<div class="panel panel-success">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-4 col-sm-4">
								<h4 align="center">Your picture here!</h4>
							</div>
							<div class="col-xs-4 col-sm-8">
							<div class="panel panel-default">
								<h4 align="center"><%= trainee.first_name %> <%= trainee.last_name %></h4>
								<h3 align="center"></h3>
							</div>
							</div>
						</div>
						</div>
					</div>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
