.jumbotron
  %h2 Make way for the awesome Trainees!
.row
  .col-md-6
    %table.table.table-condensed
      %tbody
        %tr
          .panel.panel-success
            .panel-heading
              .panel.panel-default
                %h4{:align => "center"} Under construction.
  .col-md-6
    .panel.panel-default
      .panel-body
        %h4{:align => "center"} Under construction..again
